@font-face {
  font-family: 'Rigatoni';
  src: url('../fonts/Trial Rigatoni Mega Wide.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hubot-Sans';
  src: url('../fonts/Hubot-Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.VStack {
  display: flex;
  flex-direction: column;
}
.HStack {
  display: flex;
  flex-direction: row;
}
body {
  background-color: rgb(26, 26, 26);
  background-image: url('../images/HOMEPAGE.png');
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.top-bar-logo {
  width: 22px;
  height: 32px;
}
.top-bar {
  gap: 8px;
  margin: 20px 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  justify-content: space-between;
}
.brand-title {
  font-family: 'Rigatoni', sans-serif;
  font-size: 90px;
  color: white;
}
.brand-subtitle {
  font-family: 'Rigatoni', sans-serif;
  font-size: 20px;
  color: white;
}
.header {
  padding-top: 104px;
  padding-bottom: 1600px;
  align-items: center;
}
.section {
  gap: 100px;
  margin: 100px auto;
  align-items: center;
  text-align: center;
}
.social-media-icons {
  gap: 56px;
}
.social-media-icon {
  width: 56px;
  height: 56px;
}
.highlight-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.highlight-header-left {
  width: 50%;
  gap: 12px;
  margin-left: 120px;
  box-sizing: border-box;
}
.highlight-header-right {
  width: 50%;
  gap: 12px; 
  margin-right: 120px; 
  box-sizing: border-box;
  align-items: flex-end;
}
.highlight-title {
  font-family: 'Rigatoni', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}
.highlight-subtitle {
  font-family: 'Hubot-Sans', sans-serif;
  color: #838383;
  font-size: 21px;
  line-height: 34px;
}
.download-button {
  display: inline-block;
  margin-top: 100px;
  width: 272px;
  height: 44px;
  border: 1px solid white;
  font-family: 'Rigatoni', sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  cursor: pointer;
}
.gradient-image {
  position: relative; /* Position relative to contain the pseudo-element */
  display: inline-block; /* Fit the image size */
}
.gradient-image img {
  display: block; /* Remove bottom space around the image */
  width: 100%; /* Set image to full width of the container */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover;
}
.gradient-image::after {
  content: ""; /* Required to show the pseudo-element */
  position: absolute;
  top: 0;
  right: 0; /* Start gradient overlay from the right */
  width: 50%; /* Adjust to cover the right side */
  height: 100%;
  background: linear-gradient(to left, rgba(26,26,26,0.9), rgba(26,26,26,0)); /* Right to left gradient */
  pointer-events: none; /* Ensure gradient is non-interactive */
}
.gradient-image-right {
  position: relative; /* Position relative to contain the pseudo-element */
  display: inline-block; /* Fit the image size */
  width: 50%;
}
.gradient-image-right img {
  display: block; /* Remove bottom space around the image */
  width: 100%; /* Set image to full width of the container */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover;
}
.gradient-image-right::after {
  content: ""; /* Required to show the pseudo-element */
  position: absolute;
  top: 0;
  right: 0.5; /* Start gradient overlay from the right */
  width: 50%; /* Adjust to cover the right side */
  height: 100%;
  background: linear-gradient(to right, rgba(26,26,26,0.9), rgba(26,26,26,0)); /* Right to left gradient */
  pointer-events: none; /* Ensure gradient is non-interactive */
}
.subscription-form {
  width: 100%;
  gap: 40px;
}
.section-header-label {
  font-family: 'Rigatoni', sans-serif;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}
.form-floating {
  padding: 0 200px;
}
.form-control {
  background-color: rgba(217, 217, 217, 0.2);
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 60px;
  padding-left: 36px;
  font-size: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8)
}
.subscription-button {
  background-color: rgba(120, 97, 255, 1);
  border: none;
  border-radius: 24px;
  height: 48px;
  /* text-transform: uppercase; */
  color: white;
  padding: 0 48px;
  margin: 0 auto;
  cursor: pointer;
}