@font-face {
  font-family: 'Rigatoni';
  src: url('../fonts/Trial Rigatoni Mega Wide.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hubot-Sans';
  src: url('../fonts/Hubot-Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.VStack {
  display: flex;
  flex-direction: column;
}
.HStack {
  display: flex;
  flex-direction: row;
}
body {
  background-color: rgb(26, 26, 26);
  background-image: url('../images/HOMEPAGE.png');
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.top-bar-logo {
  width: 22px;
  height: 32px;
}
.top-bar {
  gap: 8px;
  margin: 20px 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
.brand-title {
  font-family: 'Rigatoni', sans-serif;
  font-size: 90px;
}
.brand-subtitle {
  font-family: 'Rigatoni', sans-serif;
  font-size: 20px;
}
.header {
  padding-top: 104px;
  padding-bottom: 1600px;
  align-items: center;
}
.footer {
  gap: 100px;
  margin: 340px auto;
  align-items: center;
}
.social-media-icon {
  width: 56px;
  height: 56px;
}
.highlight-item {
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.highlight-title {
  font-family: 'Rigatoni', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.highlight-subtitle {
  font-family: 'Hubot-Sans', sans-serif;
  color: #838383;
  font-size: 21px;
  line-height: 34px;
}
.download-button {
  display: inline-block;
  margin-top: 100px;
  width: 272px;
  height: 44px;
  border: 0px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-family: 'Rigatoni', sans-serif;
}
.gradient-image {
    position: relative; /* Position relative to contain the pseudo-element */
    display: inline-block; /* Fit the image size */
}
.gradient-image img {
    display: block; /* Remove bottom space around the image */
    width: 100%; /* Set image to full width of the container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover;
}
.gradient-image::after {
  content: ""; /* Required to show the pseudo-element */
  position: absolute;
  top: 0;
  right: 0; /* Start gradient overlay from the right */
  width: 50%; /* Adjust to cover the right side */
  height: 100%;
  background: linear-gradient(to left, rgba(26,26,26,0.9), rgba(26,26,26,0)); /* Right to left gradient */
  pointer-events: none; /* Ensure gradient is non-interactive */
}
.gradient-image-right {
    position: relative; /* Position relative to contain the pseudo-element */
    display: inline-block; /* Fit the image size */
}
.gradient-image-right img {
    display: block; /* Remove bottom space around the image */
    width: 100%; /* Set image to full width of the container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover;
}
.gradient-image-right::after {
  content: ""; /* Required to show the pseudo-element */
  position: absolute;
  top: 0;
  right: 0.5; /* Start gradient overlay from the right */
  width: 50%; /* Adjust to cover the right side */
  height: 100%;
  background: linear-gradient(to right, rgba(26,26,26,0.9), rgba(26,26,26,0)); /* Right to left gradient */
  pointer-events: none; /* Ensure gradient is non-interactive */
}